<router-outlet></router-outlet>
<br>
<h2>Class</h2>
<br>
<form id="classForm">
  <div *ngIf="loaded" class="selectionWindow">
    <div class="selectColumn">
      <label *ngFor="let class of classes">
        <input type="radio" name="classPick" [value]="class.name" [(ngModel)]="classPick"><span>{{class.name}}</span>
      </label>
    </div>
    <div class="infoColumn">
      <div *ngFor="let class of classes">
        <div *ngIf="classPick === class.name">
          <h3>Description</h3>
          <div>{{class.desc}}</div>
          <br><br>
          <h3>Proficiencies</h3>
          <ul>
            <li *ngFor="let prof of class.proficiencies">
              <span>{{prof}}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</form>
<br><br>
<button routerLink="/create/race">Previous</button>
<button routerLink="/create/alignment">Next</button>
