<router-outlet></router-outlet>
<br>
<h2>Race</h2>
<br>
<form id="raceForm">
  <div *ngIf="loaded" class="selectionWindow">
    <div class="selectColumn">
      <label *ngFor="let race of races">
        <input type="radio" name="racePick" [value]="race" [(ngModel)]="racePick"><span>{{race.name}}</span>
      </label>
    </div>
    <div class="infoColumn">
      <div *ngFor="let race of races">
        <div *ngIf="racePick === race">
          <img [src]="'data:image/jpg;base64,'+race.image"/>
          <h3>Description</h3>
          <br>
          <div>{{race.desc}}</div>
        </div>
      </div>
    </div>
  </div>
  <br><br>
  <button routerLink="/create/gender">Previous</button>
  <button (click)=setRace(racePick) routerLink="/create/class">Next</button>
</form>
