<router-outlet></router-outlet>
<br>
<h2>Background</h2>
<br>
<form id="backgroundForm">
  <span>Name: </span><input type="text" name="name" value="name" [(ngModel)]="name" >
  <br><br>
  <span>Ideals: </span><input type="text" name="ideals" value="ideals" [(ngModel)]="ideals" >
  <br><br>
  <span>Bonds: </span><input type="text" name="bonds" value="bonds" [(ngModel)]="bonds" >
  <br><br>
  <span>Flaws: </span><input type="text" name="flaws" value="flaws" [(ngModel)]="flaws" >
  <br><br>
  <span>History: </span><input type="text" name="history" value="history" [(ngModel)]="history" >
  <br><br>
  <span>Experience: </span><input type="number" name="xp" value="xp" [(ngModel)]="xp" min="0" >
  <br><br>
  <button routerLink="/spells">Previous</button>
  <button (click)="setBackground(name, ideals, bonds, flaws, history, xp)">Complete</button>
</form>
