<router-outlet></router-outlet>
<br>
<h2>Gender</h2>
<br>
<form id="genderForm">
  <div class="selectionWindow" style="background-color: rgba(0, 0, 0, 0)">
    <label>
      <input type="radio" name="genderPick" value="Male" [(ngModel)]="myGender" ><span>Male</span>
    </label>
    <label>
      <input type="radio" name="genderPick" value="Female" [(ngModel)]="myGender" ><span>Female</span>
    </label>
    <label>
      <input type="radio" name="genderPick" value="Other" [(ngModel)]="myGender" ><span>Other</span>
    </label>
  </div>
  <br><br>
  <button type="submit" (click) = 'setGender(myGender)'>Next</button>
</form>
