<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>
<nav>
  <a routerLink="/gender" routerLinkActive="active">Gender</a>
  <a routerLink="/portrait">Portrait</a>
  <a routerLink="/race">Race</a>
  <a routerLink="/class">Class</a>
  <a routerLink="/alignment">Alignment</a>
  <a routerLink="/attributes">Attributes</a>
  <a routerLink="/spells">Spells</a>
  <a routerLink="/background">Background</a>
</nav>

<router-outlet></router-outlet>
