body {
  margin: auto;
  padding-top: 50px;
  text-align: center;
  background-image: url(../../assets/images/dragon.jpg);
  background-repeat: repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  color: white;
}

button {
  width: 200px;
  height: 80px;
}
