<router-outlet></router-outlet>
<br>
<h2>Attributes</h2>
<br>
<form id="attributeForm">
  <div>
    <span>Strength</span>
    <input type="number" name="strength" value="strength" min="5" max="30" [(ngModel)]="strength" >
  </div>
  <br>
  <div>
    <span>Dexterity</span>
    <input type="number" name="dexterity" value="dexterity" min="5" max="30" [(ngModel)]="dexterity" >
  </div>
  <br>
  <div>
    <span>Constitution</span>
    <input type="number" name="constitution" value="constitution" min="5" max="30" [(ngModel)]="constitution" >
  </div>
  <br>
  <div>
    <span>Intelligence</span>
    <input type="number" name="intelligence" value="intelligence" min="5" max="30" [(ngModel)]="intelligence" >
  </div>
  <br>
  <div>
    <span>Wisdom</span>
    <input type="number" name="wisdom" value="wisdom" min="5" max="30" [(ngModel)]="wisdom" >
  </div>
  <br>
  <div>
    <span>Charisma</span>
    <input type="number" name="charisma" value="charisma" min="5" max="30" [(ngModel)]="charisma" >
  </div>
  <br><br>
  <button routerLink="/create/alignment">Previous</button>
  <button (click)="setAttributes(strength, dexterity, constitution, intelligence, wisdom, charisma)" routerLink="/create/skills">Next</button>
</form>
